#data {
  text-align: center;
  height: 20px;
}

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#mapid {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

.leaflet-marker-icon {
  -webkit-animation: popout 15s; /* Safari, Chrome and Opera > 12.1 */
  -webkit-animation-timing-function: linear;
  -moz-animation: popout 15s; /* Firefox < 16 */
  animation: popout 15s;
  animation-timing-function: linear;
}

@keyframes popout {
  0%    { opacity: 0; }
  2%    { opacity: 1; 
          width: 30px;
          height: 30px;
          top: -10px;
          left: -10px;}
  50%   { top: 0px;
          left: 0px;
          width: 10px;
          height: 10px;}
  100%  { opacity: 0; 
          width: 5px;
          height: 5px;} 
}

/* Firefox < 16 */
@-moz-keyframes popout {
  0%    { opacity: 0; }
  2%    { opacity: 1; 
          width: 30px;
          height: 30px;
          top: -10px;
          left: -10px;}
  50%   { top: 0px;
          left: 0px;
          width: 10px;
          height: 10px;}
  100%  { opacity: 0; 
          width: 5px;
          height: 5px;} 
}


@-webkit-keyframes popout {
  0%    { opacity: 0; }
  2%    { opacity: 1; 
          width: 30px;
          height: 30px;
          top: -10px;
          left: -10px;}
  50%   { top: 0px;
          left: 0px;
          width: 10px;
          height: 10px;}
  100%  { opacity: 0; 
          width: 5px;
          height: 5px;} 
}
